.stockage {
  color: #0065fc;
  color: #deebff;
  color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
main {
  position: relative;
  max-width: 1415px;
  width: 90%;
  margin: auto;
}
h1,
.article__title {
  font-size: 23px;
}
h2 {
  font-size: 18px;
}
h1,
h2,
h3 {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  max-width: 1415px;
  width: 90%;
  margin: auto;
}
.header__logo {
  width: 60%;
}
.logo {
  width: 120px;
  padding-top: 49px;
  padding-left: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 52px;
}

nav a {
  padding: 49px 20px 30px 20px;
  border-top: transparent solid 4px;
  color: inherit;
}
nav a:hover {
  border-top: #0065fc solid 4px;
  color: #0065fc;
  padding: 49px 20px 30px 20px;
  cursor: pointer;
}

.search {
  padding-top: 30px;
}
.search p {
  padding: 10px 0 10px 0;
}
.search__bar {
  width: 400px;
  height: 50px;
  border: #f2f2f2 solid 1px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.search__bar i {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-size: 19px;
  border-radius: 15px 0 0 15px;
}
.search__bar button {
  width: 32%;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
#mobileButton {
  display: none;
}
#searchBar {
  width: 55%;
  border: none;
  font-size: 17px;
  font-weight: 700;
  padding-left: 15px;
}
input::placeholder {
  color: black;
  font-weight: 700;
  font-size: 17px;
}
textarea:focus,
input:focus {
  outline: none;
}
.filter__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0 40px 0;
}
.filter__bar .filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.filter {
  border: #d8d7d7 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 100px;
  font-weight: 700;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}
.filter:hover i {
  left: 100%;
  transform: scale(1.2) translateX(-36px);
  transition: all 0.3s;
  color: #deebff;
  background-color: #0065fc;
}
.filter:hover p {
  transform: translateX(-42px);
  transition: all 0.3s;
}
.filter i {
  z-index: 2;
  color: #0065fc;
  transform: scale(1.2) translateX(2px);
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}
.filter p {
  padding: 0 20px 0 62px;
  transition: all 0.3s;
}
.city__infos {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.city__infos i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  transform: scale(0.9) translateY(-5px);
  border-radius: 100px;
  border: #d4d4d4 solid 1px;
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  margin-right: 10px;
  font-size: 15px;
}

.city__lodging {
  display: flex;
  flex-direction: row;
}

.main__lodging {
  background-color: #f2f2f2;
  width: 68%;

  border-radius: 20px;
}
.main__container {
  width: 95%;
  margin: auto;
}
.main__container .article__title {
  margin-left: 20px;
  margin-top: 40px;
}
.main__container h2:last-child {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 40px;
  cursor: pointer;
}
.lodgings__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 886px;
}

.lodging__cards {
  background-color: white;
  width: 245px;
  height: 195px;
  background-image: url(./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card:nth-child(2) .lodging__cards {
  background-image: url(./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-size: 100% 100%;
  background-position-y: -50px;
}
.card:nth-child(3) .lodging__cards {
  background-image: url(./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-size: 100% 100%;
  background-position-y: -52px;
}
.card:nth-child(4) .lodging__cards {
  background-image: url(./images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-size: cover;
  background-position-y: -55px;
}
.card:nth-child(5) .lodging__cards {
  background-image: url(./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-size: 100% 100%;
  background-position-y: -65px;
}
.card:nth-child(6) .lodging__cards {
  background-image: url(./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-size: 100% 100%;
}
.card {
  width: 255px;
  height: 205px;
  padding: 5px;
  margin: 15px;

  background-color: white;
  border-radius: 25px;

  box-shadow: 0px 5px 17px 6px rgba(0, 0, 0, 0.15);
}
.card .cards__text {
  height: 82px;
  transform: translateY(2px);
}
.cards__text {
  background-color: white;
  border-radius: 0 0px 20px 20px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 13px;
  padding: 0px 10px 0 10px;
}
.cards__text h2 {
  font-size: 17px;
}
.blue-star {
  color: #0065fc;
}
.grey-star {
  color: #dad8d8;
}

.popular__lodging {
  background-color: #f2f2f2;
  width: 32%;
  max-height: 643px;
  margin-left: 40px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 40px;
  border-radius: 20px;
}
.popular__lodging .popular__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.popular__lodging .popular__header i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-popular {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;

  box-shadow: 0px 5px 17px 6px rgba(0, 0, 0, 0.15);

  margin: 20px 0 20px 0;
}
.card-popular:nth-child(3) {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-popular .lodging__cards {
  background-image: url(./images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: contain;
  background-position-x: -45px;
  background-position-y: -0px;
  border-radius: 17px;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: row;
}
.card-popular:nth-child(3) .lodging__cards {
  background-image: url(./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: contain;
  background-position-x: -10px;
  background-position-y: -0px;
}
.card-popular:nth-child(4) .lodging__cards {
  background-image: url(./images/hebergements/4_small/Webp.net-resizeimage.png);
  background-size: contain;
  background-position-x: 0px;
  background-position-y: 0px;
}
.card-popular .cards__text {
  padding: 0 20px 0 20px;
  width: 60%;
  height: 144px;
  border-radius: 0px 20px 20px 0px;
}
.card-popular .cards__text p {
  margin-top: 10px;
}
.city__activities {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}
.city__activities .article__title {
  margin-bottom: 25px;
}
.activities__container {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}

/* --------- 2nd colonne activités à marseille ---------- */
.activities:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.activities:nth-child(2) .activity:first-child {
  max-height: 235px;
}
.activities:nth-child(2) .activity:nth-child(2) {
  max-height: 165px;
}
.activities:nth-child(2) .activity-img {
  width: 100%;
  min-width: 302px;

  object-position: 0px -110px;
}
.activities:nth-child(2) .activity:nth-child(2) .activity-img {
  width: 100%;
  min-width: 302px;

  object-position: 0px -18px;
}
/* --------- 4eme colonne activités à marseille ---------- */
.activities:nth-child(4) {
  display: flex;
  justify-content: space-between;
}
.activities:nth-child(4) .activity:first-child {
  max-height: 195px;
}
.activities:nth-child(4) .activity:nth-child(2) {
  max-height: 209px;
}
.activities:nth-child(4) .activity-img {
  height: 100%;
  width: 500px;
  object-fit: cover;
  object-position: 0px -5px;
}
/* ------------------------------------------- ---------- */

.activities {
  width: 24%;
  display: flex;
  max-width: 302px;
  max-height: 445px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.activity {
  display: flex;
  width: 100%;

  height: 445px;
  overflow: hidden;

  position: relative;
  border-radius: 20px;

  box-shadow: 0px 5px 17px 6px rgba(0, 0, 0, 0.096);
}
.activity-img {
  height: 100%;
  width: 500px;
  object-fit: cover;
  object-position: -190px 0px;
}
.activity header {
  display: flex;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  height: 56px;
  width: 100%;

  bottom: -2px;
  align-items: flex-start;
}
.activity h3 {
  margin-left: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f2f2f2;
  height: 225px;
  width: 100%;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1415px;
  width: 90%;
  margin: auto;
}
.about {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__container ul {
  padding: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100px;
}
.footer__container li {
  margin-top: 15px;
}

.about__lodging {
  width: 33%;
  height: 100%;
}
.help {
  width: 34%;
  height: 100%;
}

/* ------------------ Média queries --------------- */

@media screen and (max-width: 992px) {
  main {
    margin: 0;
    width: 100%;
  }
  article {
    margin: auto;
    width: 90%;
  }
  .filter__bar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .filter__bar .filters {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0px;
  }
  .filters {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .filter {
    margin-top: 10px;
  }

  .city__infos {
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
  }
  .city__lodging {
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 0px;
  }
  .main__lodging {
    width: 100%;
    margin-top: 30px;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
  }
  .main__container {
    width: 100%;
  }
  .lodging__cards {
    width: 220px;
  }
  .main__container .article__title {
    width: 710px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .popular__lodging {
    width: 100%;
    margin-top: 30px;
    margin: auto;
    max-height: none;
    padding-bottom: 30px;
    border-radius: 0px;
  }
  .popular__lodging .popular__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 650px;
  }
  .card {
    margin: 5px;
    width: 230px;
  }
  .card-popular {
    width: 650px;
    margin: auto;
  }
  .card-popular .lodging__cards {
    width: 100%;
  }
  .card-popular:nth-child(2) {
    margin-top: 20px;
  }

  .card-popular .lodging__cards {
    background-size: 25% 100%;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .card-popular:nth-child(3) .lodging__cards {
    background-size: 25% 100%;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .card-popular:nth-child(4) .lodging__cards {
    background-size: 25% 100%;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .activities__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
  }
  .activities {
    width: 300px;
    margin: 30px;
  }
  .city__activities {
    width: 100%;
    margin-top: 0px;
  }
  .city__activities .article__title {
    width: 610px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0;
    width: 100%;
  }
  article {
    margin: auto;
    width: 90%;
  }
  .city__infos {
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
  }
  .city__lodging {
    margin: 0;
    width: 100%;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .header__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo img {
    padding: 25px 0 0 0;
  }
  nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav ul li {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav a {
    display: block;
    padding: 35px 0 15px 0;
    border-bottom: #f2f2f2 solid 4px;
    color: inherit;
    width: 100%;
    border-top: none;
  }
  nav a:hover {
    display: block;
    width: 100%;
    padding: 35px 0 15px 0;
    border-top: none;
    border-bottom: #0065fc solid 4px;
    color: #0065fc;

    cursor: pointer;
  }
  .popular__lodging .popular__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    width: 90%;
  }
  .popular__lodging {
    width: 100%;
    padding: 40px 0 40px 0;
    margin: 0;
    border-radius: 0;
  }

  .card-popular {
    width: 90%;
    max-width: 350px;
  }
  .card-popular .lodging__cards {
    background-size: contain;
    background-position-x: -45px;
    background-position-y: -0px;
  }
  .card-popular:nth-child(3) .lodging__cards {
    background-size: contain;
    background-position-x: -10px;
    background-position-y: -0px;
  }
  .card-popular:nth-child(4) .lodging__cards {
    background-size: contain;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .main__lodging {
    background-color: transparent;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .main__container {
    width: 90%;
    margin: auto;
  }
  .main__container .article__title {
    max-width: 350px;
    width: 90%;
    margin: auto;
    display: block;
  }

  .card {
    max-width: 350px;
    width: 90%;
    margin: 20px auto 0 auto;
    box-sizing: content-box;
  }
  .cards__text {
    width: 100%;
  }
  .lodging__cards {
    width: 100%;
    background-size: cover;
    background-position-y: -52px;
  }

  .card:nth-child(2) .lodging__cards {
    background-size: cover;
    background-position-y: -60px;
  }
  .card:nth-child(3) .lodging__cards {
    background-size: cover;
    background-position-y: -60px;
  }
  .card:nth-child(4) .lodging__cards {
    background-size: cover;
    background-position-y: -105px;
  }
  .card:nth-child(5) .lodging__cards {
    background-size: cover;
    background-position-y: -44px;
  }
  .card:nth-child(6) .lodging__cards {
    background-size: cover;
    background-position-y: -200px;
  }
  #desktopButton {
    display: none;
  }
  .search__bar {
    width: 333px;
  }
  #mobileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #0065fc;
    border-radius: 15px;
  }
  #searchBar {
    width: 70%;
  }
  #mobileButton i {
    width: 20%;
    color: white;
    font-size: 17px;
    background-color: #0065fc;
  }
  .search__bar i {
    width: 15%;
    color: black;
  }
  .city__activities .article__title {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 25px auto;
  }
  .activities__container {
    flex-direction: column;
  }
  .activities {
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0px;
  }
  #activities {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .activity {
    height: 190px;
    max-width: 350px;
    margin-bottom: 20px;
  }
  .activity-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px -20px;
  }
  /* --------- 2eme section activités à marseille ---------- */
  .activities:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  .activities:nth-child(2) .activity:first-child {
    max-height: none;
  }
  .activities:nth-child(2) .activity:nth-child(2) {
    max-height: none;
  }
  .activities:nth-child(2) .activity-img {
    width: 100%;
    min-width: 302px;

    object-position: 0px -180px;
  }
  .activities:nth-child(2) .activity:nth-child(2) .activity-img {
    width: 100%;
    min-width: 302px;

    object-position: 0px -20px;
  }
  /* --------- 4eme section activités à marseille ---------- */
  .activities:nth-child(4) {
    display: flex;
    justify-content: space-between;
  }
  .activities:nth-child(4) .activity:first-child {
    max-height: none;
  }
  .activities:nth-child(4) .activity:nth-child(2) {
    max-height: none;
  }
  .activities:nth-child(4) .activity:first-child .activity-img {
    object-position: 0px -15px;
  }
  .activities:nth-child(4) .activity-img {
    height: 100%;
    width: 500px;
    object-fit: cover;
    object-position: 0px -40px;
  }
  /* ------------------------------------------- ---------- */

  footer {
    flex-direction: column;
    height: auto;
  }
  footer div {
    margin-top: 40px;
  }

  .footer__container {
    flex-direction: column;
  }
  .footer__container ul {
    height: auto;
  }
  .about {
    height: auto;
    width: auto;
  }
  .about__lodging {
    height: auto;
    width: auto;
  }
  .help {
    height: auto;
    width: auto;
    margin-bottom: 40px;
  }
}
